/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    font-family: sans-serif;
    font-size: 16px;
/* 
    display: flex;
    flex-direction: column; */
}
header {
    background: #EFE3F5;
    margin: 0;
}
nav {
    /* background: #E1BDF5; */
    padding: 0 15px;
}
a {
    color: #000;
    text-decoration: none;
}
.logo {
    width: 10rem;
    padding: 0;
    margin: 0;
}
.menu {   
    list-style-type: none;
}
.item {
    padding: 0.625rem;
}
.item.button {
    font-weight: bolder;
    padding: 8px 4px;
}
.item a:hover,
.item a:hover::after {
    color: #BD6FE9;
}
.item.button {
    
}
.item a.active { 
    color: #7745B7;
    font-weight: bolder;
}
/* Mobile Menu */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-item {
    width: 10rem;
}
.menu {   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.menu li a{
    display: block;
    padding: 15px 5px;
}
.toggle {
    order: 1;
    font-size: 20px;
}
.item {
    order: 2;
    width: 100%;
    text-align: center;
    display: none;
}
.item.button {
    order: 3;
}
.active .item {
    display: block;
}
/* Mobile about-us cards */
#about-us {
    background: #E1BDF5;
    margin: 0;
    padding: 0;
}
.about-us-cards {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between; 
}
.about-us-card {
    padding: 0.4rem;
    margin: 0.4rem;    
    background: #EFE3F5;
    border-radius: 5px;
}
.profile-para {
    text-align: justify;
}
.about-us-card img {
    width: 100%;
    height: 15rem;
}
/* Mobile team logos */
#team-profile {
    background: #EFE3F5;
    margin: 0;
    padding: 0;
}
#team_profile-text {
    padding: 1rem;
}
.profile-title {
    text-align: center;
}
.team_profile-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.profile-logo {
    flex: 0 1 calc(50% - 1em);
    padding: 0.4rem;
}
.profile-logo img {
    width: 100%;
}
/* Mobile sponsors */
#sponsors {
    background: #E1BDF5;
    margin: 0;
    padding: 0;
    padding: 1rem;
}
.sponsors-title {
    text-align: center;
}
.sponsors-title h3 {
    color: #fff;
}
.sponsors-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sponsors-logo {
    flex: 0 1 calc(75% - 1em);
    display: flex;
}
.sponsors-logos img {
    width: 100%;
}
.disclaimer {
    /* position:relative;
    bottom:0; */
    width:100%;
    background-color: #7745b7;
}
.disclaimer p {
    font-size: smaller;
    font-weight: bolder;
    text-align: center;
    color: #E1BDF5;
}
/* Mobile Footer */
#footer {
    position:relative;
    bottom:0;
    width:100%;
    background-color: #7745b7;
}
#footer p {
    font-size: smaller;
    font-weight: bolder;
    text-align: center;
    color: #eaeaea;
}
#footer p a{
    text-decoration: none;
    color: #eaeaea;
}
/* Tablet Menu */
@media screen and (min-width: 40em) {
    header {
        display: flex;
        justify-content: space-between;
        height: 5rem;
    }
    .logo-item {}
    nav {
        padding-right: 5rem;
    }
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .item.button {
        width: auto;
        order: 3;
        display: block;
    }
    .toggle{
        flex: 1;
        text-align: right;
        order: 2;
    }
    /* Button up from tablet screen */
    .menu li.button a {
        padding: 10px 15px;
        margin: 5px 0;
    }
    .button a {
        font-weight: bolder;
        color: #eaeaea;
        background: #7745B7;
        border-radius: 5px;
    }
    .button a:hover {
        text-decoration: none;
    }
    /* Tablet about-us cards */
    .about-us-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .about-us-card {
        flex: 0 1 calc(50% - 1em);
    }
    .about-us-card img {
        /* width: 100%; */
    }
    /* Tablet profile logos */
    .team_profile-logos {
        display: flex;
        flex-wrap: wrap;
    }
    .profile-logo {
        flex: 0 1 calc(30% - 1em);
        padding: 0;
        overflow: hidden;
    }
    .profile-logo img {
        transition: transform 0.5s ease;
    }
    .profile-logo:hover img {
        transform: scale(1.2);
    }
    .profile-para {
        text-align: justify;
    }
    /* Tablet sponsors logos */
    .sponsors-logo {
        flex: 0 1 calc(25% - 1em);
        margin: auto 0;
    }
    /* Tablet Footer */
    #footer {
        position:relative;
        bottom:0;
        width:100%;
        background-color: #7745b7;
    }
    #footer p {
        text-align: center;
        color: #eaeaea;
    }
    #footer p a{
        text-decoration: none;
        color: #eaeaea;
    }
}
/* Desktop Menu */
@media screen and (min-width: 60em) {
    header {
        display: flex;
        justify-content: space-between;
        height: 5rem;
    }
    .logo-item {
        width: 20rem;
        height: 7rem;
        padding-bottom: 1.25rem;
    }
    .menu {
        flex-wrap: nowrap;
        background: none;
    }
    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
        padding-top: 1.25rem;
    }
    .button {
        order: 2;
    }
    .button a:hover{
        font-size: large;
        }
    .toggle {
        display: none;
    }
    /* Desktop about-us cards */
    #about-us {
        padding: 1rem;
    }
    .about-us-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
    }
    .about-us-card {
        flex: 0 1 calc(20% - 1em);
        background: none;
        margin: auto;
    }
    .about-us-card img {
        width: 100%;
        border-radius: 5px;
    }
    .about-us-card h3,p {
        text-align: center;
    }

    /* Desktop profile logos */
    .team_profile-logos {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
    }
    .profile-logo {
        flex: 0 1 calc(30% - 1em);
        padding: 0.4rem;
    }
}