*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
/* general menu styles */
nav {
    padding: 0 15px;
}
.item a {
    color: #000;
    text-decoration: none;
}
.logo {
    width: 10rem;
    padding: 0;
    margin: 0;
}
.menu {   
    list-style-type: none;
}
.item {
    padding: 10px;
}
.item.button {
    font-weight: bolder;
    padding: 8px 4px;
}
.item a:hover,
.item a:hover::after {
    color: #BD6FE9;
}
.active { 
    color: #7745B7;
    font-weight: bolder;
}
/* Mobile Menu */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EFE3F5;
}
.logo-item {
    display: none;
}
.logo-item-toggle {
    width: 7rem;
}
.menu {   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.menu.item a{
    display: block;
    padding: 15px 5px;
}
.toggle {
    order: 1;
    font-size: 20px;
}
.item {
    order: 2;
    width: 100%;
    text-align: center;
    display: none;
}
.item.button {
    order: 3;
}
.active .item {
    display: block;
}
/* Tablet Menu Media Query */
@media all and (min-width: 40rem) {
    header {
        display: flex;
        justify-content: space-between;
        height: 5rem;
    }
    .logo-item-toggle {
        display: none;
    }
    .logo-item {
        display: flex;
        width: 12rem;
        height: 7rem;
        padding-bottom: 1.25rem;
    }
    .logo-item-mobile {
        display: none;
    }
    .menu {
        flex-wrap: nowrap;
        background: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }
    .button {
        order: 2;
    }
    .button a:hover{
    font-size: large;
    }
    .toggle {
        display: none;
    }
}
/* Desktop Menu Media Query */
@media all and (min-width: 60rem) {
    header {
        display: flex;
        justify-content: space-between;
        height: 5rem;
    }
    .logo-item-toggle {
        display: none;
    }
    .logo-item {
        width: 20rem;
        height: 7rem;
        padding-bottom: 1.25rem;
    }
    .menu {
        flex-wrap: nowrap;
        background: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }
    .button {
        order: 2;
    }
    .button a:hover{
    font-size: large;
    }
    .toggle {
        display: none;
    }
}
/* contact-us container */
.container{
    background-color: #E1BDF5;
}
.contact_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;    
}
h1{
    
    padding-top: 1.4rem;

}
#send_message{
    padding-top: 0.7rem;
}
input{
    margin-top:1rem ;
    padding: 0.5rem 1rem ;
    width: 90%;
    border-style: none;
    border-radius: 0.5rem;
    outline-style: none;
}
textarea{
    margin-top:1rem ;
    padding: 0.5rem 1rem ;
    width: 90%;
    border-style: none;
    border-radius: 0.5rem;
    resize: none;
    outline-style: none;
}
button{
    font-size: 0.9rem;
    color: #ffff;
    background-color: #BD6FE9;
    padding: 0.6rem;
    border-radius: 0.4rem;
    border-style: none;
    margin-top: 0.4rem ;
    margin-bottom: 0.5rem;
    outline-style: none;    
}
button:hover{
    background-color: #ab55dd;
    font-size: 1rem;
    transition: 1000ms ease;
}
img{
    width: 80%;
}
.contact{
   padding: 0.4rem 4rem; 
}
span{
    margin-right: 0.6rem;
} 

/* media Query */
@media only screen and (max-width: 600px){
    .contact_container{
        flex-direction: column;
}
form{
    margin-left: 1rem;
}
h1{
    margin-left: 1rem;
}
#send_message{
    margin-left: 1rem;
    padding-top: 0.4rem;
}
input{
    margin-left:1rem ;
    width: 70%;
}
textarea{
    margin-left:1rem ;
    width: 70%;
}
button{
    margin-left: 1rem;
}
aside{
    margin-bottom: 1rem;
    margin-left: 1rem;
}
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    margin-bottom:0;
    width:100%;
    background-color: #482ff7;
    padding: 0.5rem;
}
.footer p {
    font-size: large;
    font-weight: bolder;
    color: #fff;
    padding:0.5rem;
}
.footer a {
    color: #fff;
    text-decoration: none;
}