*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f0f0f0;
}
/* general menu styles */
nav {
    padding: 0 15px;
}
.item a {
    color: #000;
    text-decoration: none;
}
.logo {
    width: 10rem;
    padding: 0;
    margin: 0;
}
.menu {   
    list-style-type: none;
}
.item {
    padding: 10px;
}
.item.button {
    font-weight: bolder;
}
.item a:hover,
.item a:hover::after {
    color: #BD6FE9;
}
.item a.active { 
    color: #7745B7;
    font-weight: bolder;
}
/* Mobile Menu */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #E1BDF5;
}
.logo-item {
    display: none;
}
.logo-item-toggle {
    width: 7rem;
    margin-right: 15rem;
}
.menu {   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.menu li a{
    display: block;
    padding: 15px 5px;
}
.toggle {
    order: 1;
    font-size: 20px;
}
.item {
    order: 2;
    width: 100%;
    text-align: center;
    display: none;
}
.item.button {
    order: 3;
}
.active .item {
    display: block;
}
/* Tablet Menu Media Query */
@media all and (min-width: 40rem) {
    header {
        display: flex;
        justify-content: space-between;
        height: 5rem;
    }
    .logo-item-toggle {
        display: none;
    }
    .logo-item {
        display: flex;
        width: 12rem;
        height: 7rem;
        padding-bottom: 1.25rem;
    }
    .logo-item-mobile {
        display: none;
    }
    .menu {
        flex-wrap: nowrap;
        background: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }
    .button {
        order: 2;
    }
    .button a:hover{
    font-size: large;
    }
    .toggle {
        display: none;
    }
}
/* Desktop Menu Media Query */
@media all and (min-width: 60rem) {
    header {
        display: flex;
        justify-content: space-between;
        height: 5rem;
    }
    .logo-item-toggle {
        display: none;
    }
    .logo-item {
        width: 20rem;
        height: 7rem;
        padding-bottom: 1.25rem;
    }
    .menu {
        flex-wrap: nowrap;
        background: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }
    .button {
        order: 2;
    }
    .button a:hover{
    font-size: large;
    }
    .toggle {
        display: none;
    }
}
/* FORM */
form{
    width: 50%;
    margin: 6% auto;
    padding-left: 3rem;
    background-color: #e9dbf0;
}
h1{
    text-align: center;
    width: 80%;
    padding: 1rem;
}
.form_input{
   padding:0.3rem 0.3rem 0.1rem 0.6rem;
   width: 60%; 
   outline: none;
   border-top:0 ;
   border-left: 0;
   border-right: 0;
   background-color: #e9dbf0;
   margin-bottom: 0.4rem;
   font-size: 0.9rem;
   margin-left: 0.3rem;

}
.form_input-2{
    padding:0.3rem 0.3rem 0.1rem 0.6rem;
    width: 20%; 
    outline: none;
    border-top:0 ;
    border-left: 0;
    border-right: 0;
    background-color: #e9dbf0;
    margin-bottom: 0.4rem;
    font-size: 0.9rem;
    margin-left: 0.3rem;
 
 }
 textarea{
     resize: none;
     width: 70%;
     height: 4rem;
     outline: none;
     border: none ;
     margin-bottom: 1rem;
     padding:0.3rem 0.3rem 0.1rem 0.7rem;

 }
 .form_input-3{
    padding:0rem 0rem 0rem 1rem;
    width: 30%; 
    height: 2rem;
    outline: none;
    border-top:0 ;
    border-left: 0;
    border-right: 0;
    background-color: #e9dbf0;
    margin-bottom: 0rem;
    margin-top: 0;
    font-size: 0.9rem;
    margin-left: 0.3rem;
    
 
 }
 .arrange{
     display: inline-flex;
 }
input[type=checkbox] {
     margin-left: 1rem;
 }
 button{
    font-size: 0.9rem;
    color: #ffff;
    background-color: #BD6FE9;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border-style: none;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
    
}
button:hover{
    background-color: #ab55dd;
    font-size: 1rem;
    transition: 1000ms ease;
}
 /* media Query */
@media only screen and (max-width: 600px){
    form{
        width: 100%;
        padding-left: 1rem;
        background-color: #e9dbf0;
    }

}
/* Footer */
.footer {
    display: flex;
    justify-content: center;
    margin-bottom:0;
    width:100%;
    background-color: #482ff7;
}
.footer p {
    font-size: large;
    font-weight: bolder;
    color: #fff;
    padding:0.5rem;
}
.footer a {
    color: #fff;
    text-decoration: none;
}