*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    height: 100%;
    width: 100%;
    background-image: url(../Images/hush-naidoo-yo01Z-9HQAw-unsplash.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    position: absolute;
}

img{
    width: 14rem;
    margin-left: 4rem;
    
}
.form-box{
    width: 360px;
    height: 450px;
    position: relative;
    margin: 6% auto;
    background: rgba(226, 226, 226);
    padding: 5px;
    overflow: hidden;
    box-shadow: 0 24px 38px rgba(0, 0, 0, 0.25), 0 10px 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 8px;
 }
 .button-box{
     width:220px;
     margin:  auto;
     position: relative;
     box-shadow: 0 0 20px 9px #f4f4;
     border-radius: 30px; 
    
    }
    form{
        margin-top: 4rem;
    }
.toogle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #d34fee, rgb(127, 83, 145));
    border-radius: 50px;
    transition: .5s;
} 
.input-group{
    top:130px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding:10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}
.input-field.success {
    border-color: #2ecc71;

}
.error {
    border-color: #e74c3c;

}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 2rem auto;
    background: linear-gradient(to right, #c300eb, rgb(127, 83, 145));
    border: 0;
    outline: none;
    border-radius: 30px;
}

#login{
    left: 50px;
}
#register{
    left: 400px;
}

.error-message{
    display:none;
}