*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
/* general menu styles */
nav {
    padding: 0 15px;
}
.item a {
    color: #000;
    text-decoration: none;
}
.logo {
    width: 10rem;
    padding: 0;
    margin: 0;
}
.menu {   
    list-style-type: none;
}
.item {
    padding: 10px;
}
.item.button {
    font-weight: bolder;
    padding: 8px 4px;
}
.item a:hover,
.item a:hover::after {
    color: #BD6FE9;
}
.item a.active { 
    color: #7745B7;
    font-weight: bolder;
}
/* Mobile Menu */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #E1BDF5;
}
.logo-item {
    display: none;
}
.logo-item-toggle {
    width: 7rem;
    margin-right: 15rem;
}
.menu {   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.menu li a{
    display: block;
    padding: 15px 5px;
}
.toggle {
    order: 1;
    font-size: 20px;
}
.item {
    order: 2;
    width: 100%;
    text-align: center;
    display: none;
}
.item.button {
    order: 3;
}
.active .item {
    display: block;
}
/* Tablet Menu Media Query */
@media all and (min-width: 40rem) {
    header {
        display: flex;
        justify-content: space-between;
        height: 5rem;
    }
    .logo-item-toggle {
        display: none;
    }
    .logo-item {
        display: flex;
        width: 12rem;
        height: 7rem;
        padding-bottom: 1.25rem;
    }
    .logo-item-mobile {
        display: none;
    }
    .menu {
        flex-wrap: nowrap;
        background: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }
    .button {
        order: 2;
    }
    .button a:hover{
    font-size: large;
    }
    .toggle {
        display: none;
    }
}
/* Desktop Menu Media Query */
@media all and (min-width: 60rem) {
    header {
        display: flex;
        justify-content: space-between;
        height: 5rem;
    }
    .logo-item-toggle {
        display: none;
    }
    .logo-item {
        width: 20rem;
        height: 7rem;
        padding-bottom: 1.25rem;
    }
    .menu {
        flex-wrap: nowrap;
        background: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }
    .button {
        order: 2;
    }
    .button a:hover{
    font-size: large;
    }
    .toggle {
        display: none;
    }
}
/* SERVICES CONTAINER */
.services_container{
    background-color:#EFE3F5 ;
}
.services_inner_container{
    display: flex;
}
.services_inner_container_2{
    display: flex;
}
h1{
    text-align: center;
    padding: 2rem;
}

.content{
    font-size: 1rem;
    text-align: center;
    padding: 5rem 6rem;

}
a{
    text-decoration: none;
    color:#ffff;
}
.content_2{
    font-size: 1rem;
    text-align: center;
    padding: 5rem 6rem;

}
p{
    padding: 0.4rem;
}
#Paragraph{
    margin-top: 3rem;
    font-weight: 100;
    
}
button{
    font-size: 0.9rem;
    color: #ffff;
    background-color: #BD6FE9;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border-style: none;
    margin-top: 0.4rem;
    
}
button:hover{
    background-color: #ab55dd;
    font-size: 1rem;
    transition: 100ms ease;
}
.image_1{
    width: 53%;
} 
.image_1:hover{
    width: 53.2%;
}
.image_2{
    width: 47%;
    /* height: 23rem; */
}
.image_2:hover{
    width: 47.2%;
}

.popup{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid #000000;
    border-radius: 10px;
    z-index: 10;
    background-color: #EFE3F5;
    width: 25rem;
    max-width: 80%;
}
.popup.active{
    transform: translate(-50%, -50%) scale(1);
}

.popup_header{
    padding: 0.9rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
}
.popup_header .close_btn{
     cursor: pointer;
     font-size: 1.5rem;
     background-color: #EFE3F5;
     color: #000000;
     font-weight: 800;
}
.input-group{
   padding-left: 2rem;
   padding-bottom: 1rem;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding:10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

} 
input[type=button]{
    font-size: 0.9rem;
    color: #ffff;
    background-color: #BD6FE9;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border-style: none;
    margin-top: 0.4rem;
}
input[type=button]{
background-color: #ab55dd;
font-size: 1rem;
transition: 100ms ease;
}
#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5) ;
    pointer-events: none;
}
#overlay.active{
    opacity: 1;
    pointer-events: all;
}
/* media Query */
@media only screen and (max-width: 600px){
   .image_1{
       display: none;
   }
   .image_2{
    display: none;
}
.services_inner_container{
  position:relative;



}
.services_inner_container::before{
    content: "";
    background-image: url('../Images/online-marketing-hIgeoQjS_iE-unsplash.jpg');
    background-size: 40rem;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;

}
.content{
    position: relative;
    color: #000000;  
    font-size: 1rem;
    line-height: 0.9;
    text-align: center;
}
.services_inner_container_2{
    position:relative;
  
  
  
  }
  .services_inner_container_2::before{
      content: "";
      background-image: url('../Images/hush-naidoo-pA0uoltkwao-unsplash.jpg');
      background-size: 40rem;
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.6;
  
  }
.content_2{
    position: relative;
    color: #000000;  
    font-size: 1rem;
    line-height: 0.9;
    text-align: center;
   


}

p{
    font-weight: 800;
}
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    margin-bottom:0;
    width:100%;
    background-color: #482ff7;
}
.footer p {
    font-size: large;
    font-weight: bolder;
    color: #fff;
    padding: 0.5rem;
}
.footer a {
    color: #fff;
}